$def with ()
<form id="login" action="" method="POST">
<table>
<tbody>
    <tr>
        <td><label for="username">帐号</label></td>
        <td><input type="text" id="username" name="username" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="password">密码</label></td>
        <td><input type="password" id="password" name="password" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/password" id="find_password">找回密码</a></td>
    </tr>
    <tr><td><input type="submit" id="login_btn" value="登录" /></td></tr>
</tbody>
</table>
</form>
