$def with ()
<form id="register" action="" method="POST">
<table>
<tbody>
    <tr>
        <td><label for="email">邮箱</label></td>
        <td><input type="text" id="email" name="email" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="username">帐号</label></td>
        <td><input type="text" id="username" name="username" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="password">密码</label></td>
        <td><input type="password" id="password" name="password" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="password_again">密码确认</label></td>
        <td><input type="password" id="password_again" name="password_again" /><span class="validate_tip"></span></td>
    </tr>
    <tr><td><input type="submit" id="register_btn" value="注册" /></td></tr>
</tbody>
</table>
</form>
